[init]
    defaultBranch = main
[core]
    hooksPath = ~/.git-hooks
[user]
{{- if ne .gitUserName "" }}
    name = {{ .gitUserName }}
{{- end -}}
{{- if ne .gitUserEmail "" }}
    email = {{ .gitUserEmail }}
{{- end }}

